body{
  width: 100vh;
  margin: auto;
  padding-top: 5vh;
  background-image: url(background.jpg);
  background-size: cover;



}

.block{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding-right: 10vh;
  padding-bottom: 5vh;
  padding-left: 10vh;
  padding-top: 0vh;
}
.logo{
  margin-top: 20vh;
  width: 20vh;
  display: block;
  margin: 0 auto;

}
.title{
  color: limegreen;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
.prenotazioni{
  background-color: limegreen;
  padding: 10px;
  text-align: center;


}
h2, p{
  color: white;
}
.rettangolo{
    width: 300px;
    height: 30px;
    background: orange;
    border-radius: 5px;
}
.rettangolo2{
  width: 500px;
  height: 30px;
  background: limegreen;
  border-radius: 5px;
}
.rettangolo3{
  width: 100px;
  height: 30px;
  background: red;
  border-radius: 5px;
}
